[project]
name = "siliconflow-image2openai"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiohttp>=3.13.2",
    "fastapi>=0.124.4",
    "uvicorn>=0.38.0",
]
